@page "/buysell/offer"

<div class="offer-main">
    <div class="dropdown">
        <SearchableDropdown Disabled="@(PaymentAccounts.Count < 2)" InitialValue="@SelectedPaymentAccountId" Text="Trading account" Placeholder="Trading account" Items="@PaymentAccounts" OnSubmit="(val) => SelectedPaymentAccountId = val"></SearchableDropdown>
    </div>
    <label>Amount of XMR to @(OfferInfo?.Direction == "BUY" ? "sell" : "buy")</label>
    <input disabled="@(UserDoesNotHaveAccount || OfferInfo?.MinAmount == OfferInfo?.Amount)" step="0.01" min="@OfferInfo?.MinAmount.ToMonero()" max="@OfferInfo?.Amount.ToMonero()" @bind="@MoneroAmount" type="number" />
    @if (OfferInfo?.MinAmount == OfferInfo?.Amount)
    {
        <p class="range">Min/Max: @OfferInfo?.MinAmount.ToMonero() XMR</p>
    }
    else
    {
        <p class="range">Min/Max: @OfferInfo?.MinAmount.ToMonero() XMR - @OfferInfo?.Amount.ToMonero() XMR</p>
    }
    <label>Total in @OfferInfo?.CounterCurrencyCode</label>
    <input readonly @bind="@CounterCurrencyAmount" type="number" step="0.01" />

    <div class="funding-section">
        <InfoRow Label="Available funds" Value="@(AvailableBalance.ToMonero() + " XMR")"></InfoRow>
        @if (OfferInfo?.BuyerSecurityDepositPct != 0)
        {
            <div class="required-funds-container" >
                <label>Required funds</label>
                    <img src="icons/info.svg" class="info" @onclick="() => ShowFeeInfoModal = true" />
            </div>
            <InfoRow Value="@(RequiredFunds.ToMonero() + " XMR")"></InfoRow>
        }
        @if (OfferInfo?.BuyerSecurityDepositPct == 0)
        {
            <div class="no-deposit">
                <img src="icons/warning.svg" />
                <p>This is a no deposit offer</p>
            </div>
        }
    </div>

    <div class="slider-container">
        <Slider OnReachedEnd="OpenNextTakeOfferStep" Disabled="UserDoesNotHaveAccount || (RequiredFunds > AvailableBalance)" Text="Take offer"></Slider>
    </div>
    <button class="button-cancel" @onclick="Cancel">Cancel</button>
</div>

<div>
    <Modal @bind-IsOpen="IsTakingOffer" Title="Taking offer" ModalButtonOptions="ModalButtonOptions.NONE" IsCloseable="false">
        <p class="regular-p-grey">Timeout in 180s</p>
        <div class="timeout-wrapper">
            <div class=@($"timeout {(AnimateTimeout ? "zero" : "")}")></div>
        </div>
    </Modal>
</div>

<Modal IsCloseable="false" Title="No payment account" IsOpen="UserDoesNotHaveAccount" ModalButtonOptions="ModalButtonOptions.OK_CANCEL" CancelButtonText="Go back" OkButtonText="Create account" OnOkPressed="@NavigateToAccount" OnCancelPressed="@(() => NavigationManager.NavigateTo("BuySell"))">
    <p class="regular-p-grey">@AccountErrorMessage</p>
</Modal>
<Modal 
    Title="Offer info"
    @bind-IsOpen="ShowExtraInfoModal"
    ModalButtonOptions="ModalButtonOptions.OK_CANCEL" 
    CancelButtonText="Close" 
    OkButtonText="Confirm"
    IsCloseable="false"
    OnCancelPressed="@(() => NavigationManager.NavigateTo("buysell"))">
    <div style="max-height: 60vh;overflow-y: auto;">
        <p class="regular-p-grey">Please review the maker's terms and conditions.</p>
        <p class="regular-p-grey">If you do not meet the requirements do not take this trade</p>
        <br />
        <div class="extra-info">
            <p class="regular-p-grey">@OfferInfo?.ExtraInfo</p>
            <img class="copy-icon" @onclick="@(async () => await Clipboard.Default.SetTextAsync(OfferInfo?.ExtraInfo))" src="icons/copy.svg" />
        </div>
    </div>
</Modal>
<Modal Title="Enter offer passphrase" @bind-IsOpen="ShowPassphraseModal" ModalButtonOptions="ModalButtonOptions.OK_CANCEL" OkButtonText="Confirm" OnOkPressed="@TakeOfferAsync">
    <input class="passphrase-input" type="text" @bind="Passphrase" placeholder="" />
</Modal>
<Modal IsCloseable="false" Title="Offer error" IsOpen="OfferError" ModalButtonOptions="ModalButtonOptions.OK" OkButtonText="Go back" OnOkPressed="@Cancel">
    <p class="regular-p-grey">@OfferErrorMessage</p>
</Modal>
<Modal Title="Fee info" IsCloseable="true" ModalButtonOptions="ModalButtonOptions.OK" @bind-IsOpen="ShowFeeInfoModal">
    <p class="regular-p-grey">Security deposit: @SecurityDepositAmount XMR / @Math.Round(SecurityDepositPercentage * 100, 2)% of trade amount</p>
    <p class="regular-p-grey">Trade fee: @TakerFeeAmount XMR / @((IsFiat ? AppConstants.TakerFeePctTraditional : AppConstants.TakerFeePctCrypto) * 100)% of trade amount</p>
    <p class="regular-p-grey">Total: @RequiredFunds.ToMonero() XMR</p>
    <br />
    <p class="regular-p-grey">Penalty fee: @AppConstants.PenaltyFeePct%</p>
</Modal>